  /* Para Chrome, Safari y Opera */
  .scroll-container::-webkit-scrollbar-track {
    background: inherit; 
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background: #F6F6F6;       
  }

 
  /* Para Firefox */
  .scroll-container {
    scrollbar-width: thin; /* Opcional: cambia el grosor de la barra de desplazamiento */
    scrollbar-color: transparent transparent; /* Color del pulgar y fondo */
  }
  .scroll-container:hover {
    scrollbar-width: thin; /* Opcional: cambia el grosor de la barra de desplazamiento */
    scrollbar-color: #F6F6F6 transparent; /* Color del pulgar y fondo */
  }
  
  /* Para Edge y otros navegadores basados en WebKit */
  .scroll-container::-ms-scrollbar {
    background: inherit;
  }
  
  .scroll-container:hover::-ms-scrollbar-thumb {
    background: #F6F6F6;
  }
  